@use 'sass:map';
@use '../../constants';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $is-dark-theme: map.get($theme, is-dark);

  section#about {
    #socials a.mat-mdc-button {
      color: if($is-dark-theme, constants.$mediumgray, constants.$lightgray);
    }

    div.key,
    .subtitle {
      color: if($is-dark-theme, constants.$mediumgray, constants.$lightgray);
    }
  }
}
