<div class="card">
  <sb-card-header title="Lebenslauf" icon="fa-clipboard-user"></sb-card-header>

  <table class="w-full mb-5">
    <tr>
      <th>Schulische Laufbahn</th>
    </tr>
    <tr>
      <td>2002 - 2008</td>
      <td><span>Christian Morgenstern Grundschule</span></td>
    </tr>
    <tr>
      <td>2008 - 2010</td>
      <td><span>Gottfried Kinkel Realschule</span></td>
    </tr>
    <tr>
      <td>2010 - 2012</td>
      <td><span>Evangelische Schule Charlottenburg</span></td>
    </tr>
  </table>

  <table class="w-full">
    <tr>
      <th>Berufliche Laubahn</th>
    </tr>
    <tr>
      <td>09.01.2012 – 27.01.2012</td>
      <td>
        <span>Schulpraktikum beim Reparaturservice </span>
        <br />
        Phonedoctor Berlin
      </td>
    </tr>
    <tr>
      <td>02.01.2013 – 22.04.2013</td>
      <td>
        <span>EQJ zum Sport- und Fitnesskaufmann </span>
        <br />
        EasyFitness Prenzlauer Berg
      </td>
    </tr>
    <tr>
      <td>29.04.2013 – 10.05.2013</td>
      <td>
        <span>Praktikum als Fachkraft für Lagerlogistik </span>
        <br />
        PartyRent
      </td>
    </tr>
    <tr>
      <td>10.05.2013 – 01.08.2013</td>
      <td>
        <span>Lagerhelfer in Teilzeit </span>
        <br />
        MAIL BOX – Direct-Marketing Service GmbH
      </td>
    </tr>
    <tr>
      <td>01.08.2013 – 12.12.2014</td>
      <td>
        <span>Ausbildung zur Fachkraft für Lagerlogistik </span><br />
        MAIL BOX – Direct-Marketing Service GmbH
      </td>
    </tr>
    <tr>
      <td>12.12.2014 – 18.01.2015</td>
      <td>
        <span>Ausbildung zum Informatikkaufmann </span>
        <br />
        ACDM (MAIL BOX – Zentrale)
      </td>
    </tr>
    <tr>
      <td>01.10.2015 – 06.07.2016</td>
      <td>
        <span>Ausbildung zum Fliesen-, Platten- und Mosaikleger</span>
        <br />
        BfW Lehrbauhof Berlin
      </td>
    </tr>
    <tr>
      <td>01.09.2016 – 20.07.2017</td>
      <td>
        <span>Ausbildung zum Fliesen-, Platten- und Mosaikleger </span>
        <br />
        WH Werkhaus Berlin
      </td>
    </tr>
    <tr>
      <td>16.10.2017 – 31.12.2017</td>
      <td>
        <span>Ausbildung zum Fliesen-, Platten- und Mosaikleger </span>
        <br />
        Ulf Martischewski Fliesen, Naturstein, Spanndecken
      </td>
    </tr>
    <tr>
      <td>18.06.2018 – 08.10.2018</td>
      <td>
        <span>Produktionshelfer Handschriftautomation </span>
        <br />
        Wunderpen GmbH
      </td>
    </tr>
    <tr>
      <td>01.03.2019 – 01.09.2019</td>
      <td>
        <span> EQJ zum Fachinformatiker für Anwendungsentwicklung </span>
        <br />
        Piobyte GmbH
      </td>
    </tr>
    <tr>
      <td>01.09.2019 – 23.03.2022</td>
      <td>
        <span>Ausbildung zum Fachinformatiker für Anwendungsentwicklung </span>
        <br />
        Piobyte GmbH
      </td>
    </tr>
    <tr>
      <td>21.09.2021 – 21.02.2022</td>
      <td>
        <span>Nebenbeschäftigung als Webentwickler</span>
        <br />
        Kominal UG
      </td>
    </tr>
  </table>
</div>
