<div class="card">
  <sb-card-header title="Lebenslauf" icon="fa-clipboard-user"></sb-card-header>

  <table class="w-full mb-5">
    <tr>
      <th>Schulische Laufbahn</th>
    </tr>
    <tr>
      <td>07.2002 - 06.2008</td>
      <td>Christian Morgenstern Grundschule</td>
    </tr>
    <tr>
      <td>07.2008 - 06.2010</td>
      <td>Gottfried Kinkel Realschule</td>
    </tr>
    <tr>
      <td>07.2010 - 10.2012</td>
      <td>Evangelische Schule Charlottenburg</td>
    </tr>
  </table>

  <table class="w-full">
    <tr>
      <th>Berufliche Laubahn</th>
    </tr>
    <tr>
      <td>09.01.2012 - 27.01.2012</td>
      <td>
        Schulpraktikum beim Reparaturservice
        <br />
        <small>Phonedoctor Berlin</small>
      </td>
    </tr>
    <tr>
      <td>02.01.2013 - 22.04.2013</td>
      <td>
        EQJ zum Sport- und Fitnesskaufmann
        <br />
        <small>EasyFitness Prenzlauer Berg</small>
      </td>
    </tr>
    <tr>
      <td>29.04.2013 - 10.05.2013</td>
      <td>
        Praktikum als Fachkraft für Lagerlogistik
        <br />
        <small>Party Rent Franchise GmbH</small>
      </td>
    </tr>
    <tr>
      <td>10.05.2013 - 01.08.2013</td>
      <td>
        Lagerhelfer in Teilzeit
        <br />
        <small>MAIL BOX - Direct-Marketing Service GmbH</small>
      </td>
    </tr>
    <tr>
      <td>01.08.2013 - 12.12.2014</td>
      <td>
        Ausbildung zur Fachkraft für Lagerlogistik <br />
        <small>MAIL BOX - Direct-Marketing Service GmbH</small>
      </td>
    </tr>
    <tr>
      <td>12.12.2014 - 18.01.2015</td>
      <td>
        Ausbildung zum Informatikkaufmann
        <br />
        <small>ACDM (MAIL BOX - Zentrale)</small>
      </td>
    </tr>
    <tr>
      <td>01.10.2015 - 06.07.2016</td>
      <td>
        Ausbildung zum Fliesen-, Platten- und Mosaikleger
        <br />
        <small>BfW Lehrbauhof Berlin</small>
      </td>
    </tr>
    <tr>
      <td>01.09.2016 - 20.07.2017</td>
      <td>
        Ausbildung zum Fliesen-, Platten- und Mosaikleger
        <br />
        <small>WH Werkhaus Berlin</small>
      </td>
    </tr>
    <tr>
      <td>16.10.2017 - 31.12.2017</td>
      <td>
        Ausbildung zum Fliesen-, Platten- und Mosaikleger
        <br />
        <small>Ulf Martischewski Fliesen, Naturstein, Spanndecken</small>
      </td>
    </tr>
    <tr>
      <td>18.06.2018 - 08.10.2018</td>
      <td>
        Produktionshelfer Handschriftautomation
        <br />
        <small>Wunderpen GmbH</small>
      </td>
    </tr>
    <tr>
      <td>01.03.2019 - 01.09.2019</td>
      <td>
        EQJ zum Fachinformatiker für Anwendungsentwicklung
        <br />
        <small>Piobyte GmbH</small>
      </td>
    </tr>
    <tr>
      <td>01.09.2019 - 23.03.2022</td>
      <td>
        Ausbildung zum Fachinformatiker für Anwendungsentwicklung
        <br />
        <small>Piobyte GmbH</small>
      </td>
    </tr>
    <tr>
      <td>21.09.2021 - 21.02.2022</td>
      <td>
        Nebenbeschäftigung als Webentwickler
        <br />
        <small>Kominal UG</small>
      </td>
    </tr>
  </table>
</div>
