@use 'sass:map';
@use '../../constants';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $is-dark-theme: map.get($theme, is-dark);

  table {
    tr:nth-child(even) {
      background-color: if(
        $is-dark-theme,
        rgba(constants.$mediumgray, 0.1),
        rgba(constants.$lightboxgray, 0.2)
      );
    }

    td {
      border-color: if(
        $is-dark-theme,
        constants.$mediumgray,
        constants.$lightgray
      );
    }

    small {
      color: if($is-dark-theme, constants.$mediumgray, constants.$lightgray);
    }
  }
}
