@use '../../constants';

table {
  th {
    padding-bottom: 0.5em;
  }

  td {
    border-bottom: 1px solid;
    padding: 8px;
  }

  td:nth-of-type(1) {
    width: 120px;
    font-family: constants.$monospace-font;

    @screen md {
      width: 150px;
    }
  }

  td span {
    font-weight: 600;
  }
}
