@use 'sass:map';
@use '../../constants';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $background: map.get($theme, background);
  $is-dark-theme: map.get($theme, is-dark);

  *,
  ::before,
  ::after {
    border-color: if(
      $is-dark-theme,
      constants.$mediumgray,
      constants.$lightgray
    );
  }

  @if $is-dark-theme {
    :root {
      color-scheme: dark;
    }
  }
}
