<div id="socials" class="flex gap-5">
  <a
    *ngFor="let link of socials"
    mat-button
    target="_blank"
    rel="noopener noreferrer"
    [href]="link.href">
    <span class="wrapper">
      <i class="text-2xl" [ngClass]="link.iconSelector"></i>
      <span>{{ link.title }}</span>
    </span>
  </a>
</div>
<div class="card flex-col md:flex-row gap-5 md:gap-10">
  <div class="flex-1">
    <sb-card-header title="Über mich" icon="fa-circle-user"></sb-card-header>

    <div class="flex flex-col gap-3">
      <section>
        <h4 class="subtitle">2008</h4>
        <p>
          In der Oberschule mit <sb-link url="https://scratch.mit.edu/" inNewTab>Scratch</sb-link> das
          erste mal mit Programmierung in Berührung gekommen
        </p>
      </section>

      <section>
        <h4 class="subtitle">2009</h4>
        <p>
          Mit
          <sb-link url="https://developer.valvesoftware.com/wiki/SDK_Docs" inNewTab>Source SDK</sb-link>
          von Steam Counter-Strike Maps gebaut und konfiguriert <br/> 🠖 per Knopfdruck Türen öffnen, Wetterbedingungen, ...
        </p>
      </section>

      <section>
        <h4 class="subtitle">2010</h4>
        <p>
          Mit Webentwicklung beschäftigt WordPress, eine kleine Website gebaut und
          einige Funktionen ausprobiert, Plugins installiert
        </p>
      </section>

      <section>
        <h4 class="subtitle">2016</h4>
        <p>
          Die erste kleine WordPress Page über Strato gehostet, für einen kleinen Fliesenleger Betrieb,
          etwas Text, Kontaktdaten und einige Bilder mit Beschreibung von bisherigen Projekten
        </p>
      </section>

      <section>
        <h4 class="subtitle">2018</h4>
        <p>
        <span>
          Entschlossen Programmieren zu lernen, mit einem Kurs auf Udemy über das Thema iOS Entwicklung mit
        </span>
          <sb-link url="https://www.apple.com/de/swift/" inNewTab>Swift</sb-link>
          <span>
          und anschließend
        </span>
          <sb-link url="https://www.youtube.com/watch?v=TZL5AmwuwlA&list=PL3d_SFOiG7_8ofjyKzX6Nl1wZehbdiZC_" inNewTab>
            Developing iOS 11 Apps with Swift
          </sb-link>
          <span>
          Videoreihe von der Stanford University geschaut & mitgemacht
        </span>
        </p>
      </section>

      <section>
        <h4 class="subtitle">2019</h4>
        <p>
          Vollzeit-Praktikum in einer Agentur für Web- & App-Entwicklung begonnen - im September dann die dann
          die Ausbildung zum Fachinformatiker für Anwendungsentwicklung
        </p>
      </section>

      <section>
        <h4 class="subtitle">2022</h4>
        <p>
          Erste Vollzeit Beschäftigung als Frontend-Entwickler
        </p>
      </section>
    </div>
  </div>

  <div class="flex-1">
    <sb-card-header title="Daten" icon="fa-address-card"></sb-card-header>

    <div class="flex flex-col gap-3" @staggerAnimation>
      <div class="flex flex-col lg:flex-row border-b pb-2" *ngFor="let item of data">
        <div class="key flex-1">{{ item.key }}:</div>
        <div class="value flex-1" [innerHTML]="item.value"></div>
      </div>
    </div>
  </div>
</div>
