<div class="card">
  <sb-card-header title="Hobby-Projekte" icon="fa-clipboard-list"></sb-card-header>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Fachentwickler </mat-panel-title>
        <mat-panel-description> April 2020 - Heute </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="links">
        GitHub
        <a href="https://github.com/svenson95/fachentwickler-app" target="_blank"> Frontend </a>
        <a href="https://github.com/svenson95/fachentwickler-api" target="_blank"> Backend </a>
      </div>
      <p>
        Home-Schooling Plattform für die Berufsschule, Unterrichtszusammenfassungen, Quizze, Karteikarten &
        "Matching"-Puzzle-Minigame. Dashboard zum chronologischen abarbeiten aller Inhalte, Anzeige der letzten
        Ankündigung aus dem Schul-Newsarchiv, anstehender Klausuren, aktuellen Stundenplan und Lektionen der aktuellen
        Schulwoche.
      </p>
    </mat-expansion-panel>

    <hr />

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> ng-xmp<wbr />-landing-animations </mat-panel-title>
        <mat-panel-description> September 2021 - Dezember 2021 </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="links">
        <a href="https://github.com/svenson95/ng-xmp-landing-animations" target="_blank"> GitHub </a>
        <a href="https://svenson95.github.io/ng-xmp-landing-animations/" target="_blank"> Live </a>
      </div>
      <p>
        Tutorial App für geplanten schriftlichen Artikel mit Beispiel-Implementierungen von Angular's integrierten
        Animations-System. Animation bei State-Änderung, beim Erreichen eines Scrollpoints und <i>Stagger</i>-Animation.
      </p>
    </mat-expansion-panel>

    <hr />

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Yahtzee Minigame </mat-panel-title>
        <mat-panel-description> September 2021 </mat-panel-description>
      </mat-expansion-panel-header>
      <div class="links">
        <a href="https://github.com/svenson95/yahtzee-app" target="_blank"> GitHub </a>
        <a href="https://codesandbox.io/s/github/svenson95/yahtzee-app" target="_blank"> CodeSandbox </a>
      </div>
      <p>Kleines Würfelspiel welches ich während einer Bewerbungsphase als Arbeitsprobe entwickeln sollte.</p>
    </mat-expansion-panel>
  </mat-accordion>
</div>
