<div
  class="wrapper flex flex-col md:flex-row w-full items-center md:justify-between m-5 xl:mx-auto py-5"
>
  <div class="flex gap-3">
    <a
      *ngFor="let item of socials"
      class="social-link py-1 px-3 text-white font-bold border-solid border-2 rounded-2xl duration-200 ease-out"
      [title]="'Profil auf ' + item.title"
      [href]="item.href"
      target="_blank"
      rel="noopener"
    >
      <small>{{ item.title }}</small>
    </a>
  </div>

  <small class="flex text-white whitespace-nowrap items-baseline mt-5 md:mt-0">
    Made with <i class="fa fa-heart text-red-600 mx-1"></i> in Berlin
  </small>
</div>
