<div class="flex items-center">
  <i class="fa-solid fa-code ml-5 mr-3 text-xl"></i>
  <h1 class="text-xl font-bold">Portfolio</h1>
</div>
<ul class="links mr-5 hidden md:flex gap-3">
  <li>
    <a href="#about" mat-flat-button>Über mich</a>
  </li>
  <li>
    <a href="#projects" mat-flat-button>Projekte</a>
  </li>
  <li>
    <a href="#skills" mat-flat-button>Skills</a>
  </li>
  <li>
    <a href="#cv" mat-flat-button>Lebenslauf</a>
  </li>
  <li>
    <a href="#contact" mat-flat-button>Kontakt</a>
  </li>
</ul>
