@use 'sass:map';
@use '../../constants';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $is-dark-theme: map.get($theme, is-dark);

  footer {
    background-color: if(
      $is-dark-theme,
      constants.$deepgray,
      rgba(constants.$grey-2, 0.3)
    );
  }
}
