<div class="card">
  <sb-card-header title="Skills" icon="fa-book"></sb-card-header>

  @defer (on viewport; on idle) {
  <div class="grid grid-rows-5 grid-flow-col gap-10">
    <div class="text-xs sm:text-base">
      <p>Sehr gute Kenntnisse</p>
      <small>Damit habe ich am meisten gearbeitet</small>
    </div>
    <sb-image source="assets/skillset/angular.png" title="Angular"></sb-image>
    <sb-image source="assets/skillset/typescript.png" title="TypeScript"></sb-image>
    <sb-image source="assets/skillset/html.png" title="HTML5"></sb-image>
    <sb-image source="assets/skillset/css.png" title="CSS3"></sb-image>

    <div class="text-xs sm:text-base">
      <p>Erweiterte Kenntnisse</p>
      <small>Damit habe ich schon mal gearbeitet</small>
    </div>
    <sb-image [source]="nodeJsLogo()" title="Node.js"></sb-image>
    <sb-image source="assets/skillset/javascript.png" title="JavaScript"></sb-image>
    <sb-image source="assets/skillset/ionic.png" title="Ionic"></sb-image>
    <sb-image source="assets/skillset/mongodb.png" title="MongoDB"></sb-image>

    <div class="text-xs sm:text-base">
      <p>Grund&shy;kenntnisse</p>
      <small>Das habe ich schon mal ausprobiert</small>
    </div>
    <sb-image source="assets/skillset/react.png" title="React"></sb-image>
    <sb-image source="assets/skillset/swift.png" title="Swift"></sb-image>
    <sb-image source="assets/skillset/mysql.png" title="MySQL"></sb-image>
    <sb-image source="assets/skillset/java.png" title="Java"></sb-image>
  </div>
  } @placeholder {
  <p>loading ...</p>
  }
</div>
