<div class="card">
  <sb-card-header title="Skills" icon="fa-book"></sb-card-header>

  @defer (on idle) {
  <div class="grid grid-rows-5 grid-flow-col gap-10">
    <div class="text-xs sm:text-base">
      <p>Sehr gute Kenntnisse</p>
      <small>Damit habe ich am meisten gearbeitet</small>
    </div>
    <img src="assets/skillset/angular.png" alt="Angular" title="Angular" />
    <img src="assets/skillset/typescript.png" alt="TypeScript" title="TypeScript" />
    <img src="assets/skillset/html.png" alt="HTML5" title="HTML5" />
    <img src="assets/skillset/css.png" alt="CSS3" title="CSS3" />

    <div class="text-xs sm:text-base">
      <p>Erweiterte Kenntnisse</p>
      <small>Damit habe ich schon mal gearbeitet</small>
    </div>
    <img [src]="nodeJsLogo()" alt="Node.js" title="Node.js" />
    <img src="assets/skillset/javascript.png" alt="JavaScript" title="JavaScript" />
    <img src="assets/skillset/ionic.png" alt="Ionic" title="Ionic" />
    <img src="assets/skillset/mongodb.png" alt="MongoDB" title="MongoDB" />

    <div class="text-xs sm:text-base">
      <p>Grund&shy;kenntnisse</p>
      <small>Das habe ich schon mal ausprobiert</small>
    </div>
    <img src="assets/skillset/react.png" alt="React" title="React" />
    <img src="assets/skillset/swift.png" alt="Swift" title="Swift" />
    <img src="assets/skillset/mysql.png" alt="MySQL" title="MySQL" />
    <img src="assets/skillset/java.png" alt="Java" title="Java" />
  </div>
  } @placeholder {
  <p>loading ...</p>
  }
</div>
