// TYPOGRAPHY
$primary-font: 'Montserrat', 'Helvetica Neue Light', 'Helvetica Neue', Helvetica,
  Arial, 'Lucida Grande', sans-serif;
$secondary-font: ui-sans-serif, system-ui, -apple-system, BlinkMacSystemFont,
  'Segoe UI', Roboto, 'Helvetica Neue', Arial, 'Noto Sans', sans-serif,
  'Apple Color Emoji', 'Segoe UI Emoji', 'Segoe UI Symbol', 'Noto Color Emoji';
$monospace-font: 'Azeret Mono';

// THEME COLORS
$sb-blue-50: #e6eaf0;
$sb-blue-100: #b0c8eb;
$sb-blue-200: #95a8c2;
$sb-blue-300: #6d94ca;
$sb-blue-400: #4b6c99;
$sb-blue-500: #25548b;
$sb-blue-600: #1d4d82;
$sb-blue-700: #134477;
$sb-blue-800: #0b3a6b;
$sb-blue-900: #052a53;

// COLOR PALETTE
$cyan: #39d0ff;
$powderblue: #bae0ff;
$lightblue: #7fc9ff;
$blue: #1976d2;
$warmblue: #7491ff;
$coldblue: #8ccade;
$darkblue: #1669bb;
$accentblue: #1e88e5;
$brightred: #dd0031;
$darkred: #c3002f;
$white: #f0f0f0;
$offwhite: #fafafa;
$tangerine: #dda302;
$darkgoldenrod: #c3a300;
$backgroundgray: #f1f1f1;
$superlightgray: #f2f2f2;
$lightgray: #b0b0b0;
$lightboxgray: #ebebeb;
$mist: #eceff1;
$grey-1: #dcdcdc;
$grey-2: #c8c8c8;
$mediumgray: #6e6e6e;
$darkgray: #444444;
$deepgray: #202020;
$black: #0f0f0f;
$orange: #ff9800;
$darkorange: #940;
$anti-pattern: $brightred;
