@mixin backdrop-filter($value) {
  -webkit-backdrop-filter: blur($value);
  backdrop-filter: blur($value);
}

@mixin transition($value) {
  -webkit-transition: $value;
  -moz-transition: $value;
  -o-transition: $value;
  transition: $value;
}
