/// import directories
@use './0-base' as base;
@use './1-layouts' as layouts;
@use './2-modules' as modules;
@use './3-components' as components;

// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;

@tailwind base;
@tailwind components;
@tailwind utilities;

html {
  @include mat.theme(
    (
      color: (
        theme-type: light,
        primary: mat.$azure-palette,
        tertiary: mat.$blue-palette
      ),
      typography: Montserrat,
      density: 0
    )
  );
}

html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, 'Helvetica Neue', sans-serif;
}
