<mat-accordion>
  @for(project of projects(); track project.title; let isLast = $last) {
  <mat-expansion-panel>
    <mat-expansion-panel-header>
      <mat-panel-title [innerHTML]="project.title"></mat-panel-title>
      <mat-panel-description> {{ project.description }} </mat-panel-description>
    </mat-expansion-panel-header>

    <ng-template matExpansionPanelContent>
      @if (project.links) {
      <div class="links">
        @for (link of project.links; track link.href) { @if (link.href === null) {
        <span>GitHub</span>
        } @if (link.href !== null) {
        <a [href]="link.href" target="_blank">{{ link.label }}</a>
        } }
      </div>
      }
      <p [innerHTML]="project.content"></p>
      @if (project.images) {
      <div class="gallery">
        @for (image of project.images; track image.src) {
        <img
          (click)="openDialog(image)"
          (keypress)="openDialog(image)"
          [ngSrc]="image.src! | thumbnail"
          [alt]="image.label"
          priority
          width="64"
          height="64"
          tabindex="0"
        />
        }
      </div>
      }
    </ng-template>
  </mat-expansion-panel>

  @if (!isLast) {
  <hr />
  } }
</mat-accordion>
