@use 'sass:map';
@use '../../constants';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $is-dark-theme: map.get($theme, is-dark);

  sb-root {
    background: if(
      $is-dark-theme,
      constants.$bg-gradient-dark,
      constants.$bg-gradient-light
    );

    section .card {
      background: if(
        $is-dark-theme,
        constants.$card-gradient-dark,
        constants.$card-gradient-light
      );
    }
  }
}
