@use '../../constants';

sb-root {
  display: flex;
  flex-direction: column;

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main,
  footer .wrapper {
    max-width: 1200px;
  }
}
