:host {
  display: flex;
  flex-direction: column;
  background: linear-gradient(0deg, #74ceff, #bfe9ff);

  section {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
  }

  main,
  footer ::ng-deep .wrapper {
    max-width: 1200px;
  }
}
