@use 'sass:map';
@use '../constants';

@mixin theme($theme) {
  $is-dark-theme: map.get($theme, is-dark);

  body {
    color: if($is-dark-theme, constants.$offwhite, constants.$darkgray);
  }

  h2 {
    color: if($is-dark-theme, constants.$white, constants.$black);
  }

  p,
  ol,
  ul,
  li,
  input,
  a {
    color: if($is-dark-theme, constants.$white, constants.$darkgray);
  }
}
