<div class="card">
  <sb-card-header title="Arbeits-Beispiele" icon="fa-clipboard-list"></sb-card-header>

  <mat-accordion>
    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Survey-App <wbr /> (Vilua Healthcare GmbH) </mat-panel-title>
        <mat-panel-description> März 2019 - Dezember 2019 </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Single-Page-Application für Kundenumfragen bezüglich der Nutzung des TK-GesundheitsCoachs (Ziele: Gesundheit,
        Nichtraucher oder Fitness). Je nachdem welches Ziel der Nutzer verfolgt & wie lange er schon beim Coaching dabei
        ist werden unterschiedliche Fragen angezeigt.
      </p>
      <div class="gallery" ngxViewer [viewerOptions]="options">
        <img src="assets/work-examples/vilua-survey/vilua-survey-1.png" alt="Image 1" />
        <img src="assets/work-examples/vilua-survey/vilua-survey-2.png" alt="Image 2" />
        <img src="assets/work-examples/vilua-survey/vilua-survey-3.png" alt="Image 3" />
      </div>
    </mat-expansion-panel>

    <hr />

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> VapeWatchers <wbr /> (Hauni Vaping Technologies) </mat-panel-title>
        <mat-panel-description> Januar 2020 - Juni 2021 </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Control-Panel für Nutzer von E-Zigaretten mit Informationen zu Inhaltsstoffen und Rauchverhalten - Nikotin
        Konsum pro Tag/Woche, verwendete Cartridges & Nutzungshistorie. Ebenso konnten verbundene Devices (E-Zigaretten)
        eingesehen werden. Zur Benutzer-Authentifizierung wurde AWS-Amplify genutzt.
      </p>
      <div class="gallery" ngxViewer [viewerOptions]="options">
        <img src="assets/work-examples/smart-vaping/smart-vaping-1.png" alt="Image 1" />
        <img src="assets/work-examples/smart-vaping/smart-vaping-2.png" alt="Image 2" />
        <img src="assets/work-examples/smart-vaping/smart-vaping-3.png" alt="Image 3" />
      </div>
    </mat-expansion-panel>

    <hr />

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Pio Office Suite <wbr /> (Piobyte Gmbh) </mat-panel-title>
        <mat-panel-description> August 2020 - September 2021 </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Betriebsinterne VoIP App als PWA für Kontaktdaten aller Kunden, Mitarbeiter & Partner. Über die App war es
        möglich Anrufe über Durchwahlnummern zu initialisieren mithilfe einer zusätzlichen VoIP-App „easybell“. In
        dieser App konnten zudem Kunden- und Partner-Firmen eingesehen werden (Kontaktdaten des Unternehmens &
        entsprechende Mitarbeiter-Liste).
      </p>
      <div class="gallery" ngxViewer [viewerOptions]="options">
        <img src="assets/work-examples/pos/pos-1.png" alt="Image 1" />
      </div>
    </mat-expansion-panel>

    <hr />

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Cost-of-Production <wbr /> (EDF Deutschland GmbH) </mat-panel-title>
        <mat-panel-description> April 2021 - November 2021 </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Neuentwicklung einer Online-Plattform zur Erfassung von Produktionskosten in der Landwirtschaft -
        Farm-Statistiken, Fragebögen & Reports. Entsprechende Anwender (bspw. Bauernhöfe) können hier die bereits
        bestehenden Funktionen der Datenerfassung, -verarbeitung und -auswertung einsehen.
      </p>
      <div class="gallery" ngxViewer [viewerOptions]="options">
        <img src="assets/work-examples/cop/cop-1.png" alt="Image 1" />
      </div>
    </mat-expansion-panel>

    <hr />

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> Lernetics (OSZ Lotis) </mat-panel-title>
        <mat-panel-description> Oktober 2020 - Dezember 2020 </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Neuentwicklung der nativen Cross-Plattform-Application (Tab-basiert) für eine Berufsschule. „Mit Lernletics
        kannst du dich im Rahmen deiner Ausbildung in verschiedenen Themenbereichen selbst trainieren.“. Quizze für
        verschiedene Themen und anschließende Auswertung. Fragen die nicht korrekt beantwortet wurden konnten im
        Nachhinein nochmal gezielt abgefragt werden.
      </p>
      <div class="gallery" ngxViewer [viewerOptions]="options">
        <img src="assets/work-examples/lernetics/lernetics-1.png" alt="Image 1" />
      </div>
    </mat-expansion-panel>

    <hr />

    <mat-expansion-panel>
      <mat-expansion-panel-header>
        <mat-panel-title> KryptoCrypto <wbr /> (Kominal UG / CryptoKrypto UG) </mat-panel-title>
        <mat-panel-description> Oktober 2021 - Dezember 2021 </mat-panel-description>
      </mat-expansion-panel-header>
      <p>
        Weiterentwicklung einer Webanwendung zur Darstellung von Informationen wie Transaktionen, Wertänderungen und zum
        Einrichten von Benachrichtigungen für Crypto Wallets sowie zur Analyse des CO² Austoßes eines Crypto Wallets.
      </p>
      <div class="gallery" ngxViewer [viewerOptions]="options">
        <img src="assets/work-examples/kryptocrypto/kryptocrypto-1.png" alt="Image 1" />
        <img src="assets/work-examples/kryptocrypto/kryptocrypto-2.png" alt="Image 2" />
        <img src="assets/work-examples/kryptocrypto/kryptocrypto-3.png" alt="Image 3" />
        <img src="assets/work-examples/kryptocrypto/kryptocrypto-4.png" alt="Image 4" />
      </div>
    </mat-expansion-panel>
  </mat-accordion>
</div>
