@use 'sass:map';
@use '../../constants';
@use '../../mixins';
@use '@angular/material' as mat;

@mixin theme($theme) {
  $primary: map.get($theme, primary);
  $is-dark-theme: map.get($theme, is-dark);

  header {
    background-color: if(
      $is-dark-theme,
      rgba(mat.get-color-from-palette($primary, darker), 0.9),
      rgba(constants.$sb-blue-300, 0.9)
    );

    @supports ((-webkit-backdrop-filter: none) or (backdrop-filter: none)) {
      background-color: if(
        $is-dark-theme,
        rgba(mat.get-color-from-palette($primary, darker), 0.5),
        rgba(constants.$sb-blue-300, 0.5)
      );
      -webkit-backdrop-filter: blur(3px);
      backdrop-filter: blur(3px);
    }
  }
}
