@use '../../constants';

sb-card-header div {
  border-bottom-width: 1px;

  h2 {
    font-family: constants.$secondary-font;
    text-transform: uppercase;
  }

  i.fa-solid {
    transform: translateY(1px);
  }
}
